<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-input-container class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-input-container>
    </mat-card-content>
    <button mat-raised-button color="primary" type="button">登录</button>
    <mat-card-actions class="text-right">
      <p>还没有账户?<a [routerLink]="['/register']">注册</a></p>
      <p>忘记密码?<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-xl-image src="/assets/quote_fallback.jpg" alt="">
    <mat-card-content>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </mat-card-content>
  </mat-card>
</form>
