@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
html, body, app-root, mat-sidenav-container, .site {
  width: 100%;
  height: 100%;
  margin: 0;
}

.site {
  display: flex;
  flex-direction: column;

}

main {
  flex: 1;
}

.fill-remaining-space {
  /*使用 flexbox 填充剩余空间*/
  /*@angular/material 中的很多控件使用了 felx 布局*/
  flex: 1 1 auto;
}

main div {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 10px;
}

.box {
  width: 300px;
  height: 300px;
}

